{% extends "templates/main.html" %}

{% block body %}
<script>launch_game_on_init = true;</script>
<main class="card-container">
  <div class="card">
    <h2 class="keyword">application</h2>
    <ul>
      {% set i = 0 %}
      {% for word in ['use', 'utilization', 'exercise', 'employment', 'request'] %}
      {% set i = i + 1 %}
      <li class="unmentionable" no="{{ i }}">
        <span class="content">
          <span class="taboo-bar"></span>
          <span class="word">{{ word }}</span>
        </span>
      </li>
      {% endfor %}
    </ul>
    <div class="incorrect action">
      <p><span class="icon icon-incorrect">
        <span class="taboo-bar"></span>
        X</span></p>
    </div>
    <div class="pass action">
      <p><span class="icon icon-pass">
        <span class="taboo-bar"></span>
        ?</span></p>
    </div>
    <div class="correct action">
      <p><span class="icon icon-correct">
        <span class="taboo-bar"></span>
        O</span></p>
    </div>
  </div>
</main>
{% endblock %}
