{% extends "templates/main.html" %}

{% block body %}
<main class="card-container">
  <div class="card">
    <h2 class="word">application</h2>
    <ul>
      <li class="unmentionable">
        <span class="content">
          <span class="taboo-bar"></span>
          use
        </span>
      </li>
      <li class="unmentionable">
        <span class="content">
          <span class="taboo-bar"></span>
          utilization
        </span>
      </li>
      <li class="unmentionable">
        <span class="content">
          <span class="taboo-bar"></span>
          exercise
        </span>
      </li>
      <li class="unmentionable">
        <span class="content">
          <span class="taboo-bar"></span>
          employment
        </span>
      </li>
      <li class="unmentionable">
        <span class="content">
          <span class="taboo-bar"></span>
          request
        </span>
      </li>
    </ul>
    <div class="incorrect action">
      <p><span class="icon icon-incorrect">X</span></p>
    </div>
    <div class="pass action">
      <p><span class="icon icon-pass">?</span></p>
    </div>
    <div class="correct action">
      <p><span class="icon icon-correct">O</span></p>
    </div>
  </div>
</main>
{% endblock %}
